/* Actual styling message. */
.message-container {
  position: relative;
  --message-clr: rgb(102, 230, 102);
}

.message {
  position: absolute;
  background-color: var(--message-clr);
  min-width: 5rem;
  margin-top: 1em;
  padding: 0.3em 0.6em;
  border-radius: 5px;
  box-shadow: 0px 0px 20px -10px black;
  opacity: 0;
  pointer-events: none;
  z-index: 1;
  transition: opacity 0.5s ease-in;
}

.message::before {
  content: '';
  position: absolute;
  top: -2em;
  left: 1em;
  width: 0px;
  height: 0px;
  border-top: 1em solid transparent;
  border-bottom: 1em solid var(--message-clr);
  border-left: 1em solid transparent;
  border-right: 1em solid transparent;
}

/* Modifier for message. */

.message.small {
  font-size: 0.5rem;
}

.message.medium {
  font-size: 1.25rem;
}

.message.large {
  font-size: 1.5rem;
}

.message.extra-large {
  font-size: 1.75rem;
}

.message.extra-extra-large {
  font-size: 2rem;
}

.message.huge {
  font-size: 2.5rem;
}

.message.enabled {
  opacity: 0.8;
}

.message.clickable {
  pointer-events: all;
}

.message.error {
  --message-clr: hsl(0, 100%, 71%);
}

.message.warning {
  --message-clr: hsl(56.2, 100%, 50%)
}

.message.text-white {
  color: white;
}

.message.text-black {
  color: black;
}

.message.text-red {
  color: red;
}

.message.text-padding {
  padding: 0.5em 1em;
}

.message.text-padding-low {
  padding: 0.5em 1em;
}

.message.text-padding-medium {
  padding: 1em 2em;
}

.message.text-padding-high {
  padding: 1.5em 3em;
}
